* {
    padding: 0;
    margin: 0;
    text-align: center;
}

section h1 {
    background-color: aqua;
    padding: 15px;
}

main p {
    background-color: #ff12ff;
    padding: 15px;
    color: #ffffff;
}

footer h2 {
    background-color: rgba(155, 30, 50, .5);
    padding: 15px;
    color: blue;
}